@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@media screen and (max-width: 767px) {
  body {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
    margin: 10% 0 10% 0;
    justify-items: center;
  }
  .container h1 {
    color: #f2f2f2;
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
  }
  .container #sedan {
    background-color: #e38826;
    display: -ms-grid;
    display: grid;
    width: 80vw;
    height: 100%;
    line-height: 3.5vh;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    padding: 11%;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2% 2% 0 0;
  }
  .container #sedan div {
    background-color: #f2f2f2;
    color: #e38826;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 5%;
    margin: 15% 0% 10% 0%;
    border: 2px solid transparent;
  }
  .container #sedan div:hover {
    color: #f2f2f2;
    cursor: pointer;
    background-color: #e38826;
    border: 2px solid #f2f2f2;
  }
  .container #suv {
    background-color: #006970;
    display: -ms-grid;
    display: grid;
    width: 80vw;
    height: 100%;
    line-height: 3.5vh;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    padding: 11%;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container #suv div {
    background-color: #f2f2f2;
    color: #006970;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 5%;
    margin: 15% 0% 10% 0%;
    border: 2px solid transparent;
  }
  .container #suv div:hover {
    color: #f2f2f2;
    cursor: pointer;
    background-color: #006970;
    border: 2px solid #f2f2f2;
  }
  .container #luxury {
    background-color: #004241;
    display: -ms-grid;
    display: grid;
    width: 80vw;
    height: 100%;
    line-height: 3.5vh;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    padding: 11%;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 0 0 2% 2%;
  }
  .container #luxury div {
    background-color: #f2f2f2;
    color: #004241;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 5%;
    margin: 15% 0% 10% 0%;
    border: 2px solid transparent;
  }
  .container #luxury div:hover {
    color: #f2f2f2;
    cursor: pointer;
    background-color: #004241;
    border: 2px solid #f2f2f2;
  }
  .attribution {
    position: absolute;
    margin-top: 14px;
    width: 100%;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: #3e52a3;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  body {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
    margin: 10% 0 10% 0;
    justify-items: center;
  }
  .container h1 {
    color: #f2f2f2;
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
  }
  .container #sedan {
    background-color: #e38826;
    display: -ms-grid;
    display: grid;
    width: 70vw;
    height: 100%;
    line-height: 3.5vh;
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    padding: 11%;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2% 2% 0 0;
  }
  .container #sedan div {
    background-color: #f2f2f2;
    color: #e38826;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 5%;
    margin: 15% 0% 10% 0%;
    border: 2px solid transparent;
  }
  .container #sedan div:hover {
    color: #f2f2f2;
    cursor: pointer;
    background-color: #e38826;
    border: 2px solid #f2f2f2;
  }
  .container #suv {
    background-color: #006970;
    display: -ms-grid;
    display: grid;
    width: 70vw;
    height: 100%;
    line-height: 3.5vh;
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    padding: 11%;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container #suv div {
    background-color: #f2f2f2;
    color: #006970;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 5%;
    margin: 15% 0% 10% 0%;
    border: 2px solid transparent;
  }
  .container #suv div:hover {
    color: #f2f2f2;
    cursor: pointer;
    background-color: #006970;
    border: 2px solid #f2f2f2;
  }
  .container #luxury {
    background-color: #004241;
    display: -ms-grid;
    display: grid;
    width: 70vw;
    height: 100%;
    line-height: 3.5vh;
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    padding: 11%;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 0 0 2% 2%;
  }
  .container #luxury div {
    background-color: #f2f2f2;
    color: #004241;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 5%;
    margin: 15% 0% 10% 0%;
    border: 2px solid transparent;
  }
  .container #luxury div:hover {
    color: #f2f2f2;
    cursor: pointer;
    background-color: #004241;
    border: 2px solid #f2f2f2;
  }
  .attribution {
    position: absolute;
    margin-top: 14px;
    width: 100%;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: #3e52a3;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100vh;
    padding: 11%;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    justify-items: center;
  }
  .container h1 {
    color: #f2f2f2;
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
  }
  .container #sedan {
    background-color: #e38826;
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 65vh;
    line-height: 3.5vh;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.4vw;
    padding: 11%;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2% 0 0 2%;
  }
  .container #sedan div {
    background-color: #f2f2f2;
    color: #e38826;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 5%;
    margin: 15% 0% 10% 0%;
    border: 2px solid transparent;
  }
  .container #sedan div:hover {
    color: #f2f2f2;
    cursor: pointer;
    background-color: #e38826;
    border: 2px solid #f2f2f2;
  }
  .container #suv {
    background-color: #006970;
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 65vh;
    line-height: 3.5vh;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.4vw;
    padding: 11%;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container #suv div {
    background-color: #f2f2f2;
    color: #006970;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 5%;
    margin: 15% 0% 10% 0%;
    border: 2px solid transparent;
  }
  .container #suv div:hover {
    color: #f2f2f2;
    cursor: pointer;
    background-color: #006970;
    border: 2px solid #f2f2f2;
  }
  .container #luxury {
    background-color: #004241;
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 65vh;
    line-height: 3.5vh;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.4vw;
    padding: 11%;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 0 2% 2% 0;
  }
  .container #luxury div {
    background-color: #f2f2f2;
    color: #004241;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 5%;
    margin: 15% 0% 10% 0%;
    border: 2px solid transparent;
  }
  .container #luxury div:hover {
    color: #f2f2f2;
    cursor: pointer;
    background-color: #004241;
    border: 2px solid #f2f2f2;
  }
  .attribution {
    position: absolute;
    margin-top: 14px;
    bottom: 1%;
    left: 40%;
    font-size: 1vw;
    text-align: center;
  }
  .attribution a {
    color: #3e52a3;
  }
}
/*# sourceMappingURL=styles.css.map */