@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

$sm-font: 'Lexend Deca', sans-serif
$bg-font: 'Big Shoulders Display', cursive
$orange: hsl(31, 77%, 52%)
$cyan: hsl(184, 100%, 22%)
$d-cyan: hsl(179, 100%, 13%)
$t-white: hsla(0, 0%, 100%, 0.75)
l-gray: hsl(0, 0%, 95%)


.container
    display: grid
    grid-template-columns: 1fr 1fr 1fr

    #sedan
        background-color: $orange

    #suv
        background-color: $cyan

    #luxury
        background-color: $d-cyan

    
.attribution 
    font-size: 11px 
    text-align: center

    a 
        color: hsl(228, 45%, 44%)
